#ignore all bin directories
#matches "bin" in any subfolder
bin/

#ignore all target directories
target/

#ignore all files ending with ~
*~
#ignore project, classpath and settings file
#can cause problems with Eclipse
.classpath
.project

#.project
#.classpath
#.factorypath
.sprintBeans
.settings/

#ignore intellij
.idea/
*.iml

#ignore metadata
.metadata
.metadata/

#ignore generated javadoc
*/doc/javadoc/
/fitnesse/FitNesseRoot/FitNesse
/fitnesse/FitNesseRoot/files/testResults

#Ignore rerunLastFailures.wiki
/fitnesse/FitNesseRoot/RerunLastFailures.wiki
*.jar
