<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<!-- param name="threshold" value="DEBUG" -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%M(%L) - %m%n" />
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="file" value="C:/fitnesseLogs/restfixture.log" />
		<param name="append" value="true" />
		<!-- param name="threshold" value="DEBUG" -->
		<!-- logged Timestamp d{yyyy-MM-dd HH:mm:ss} -->
		<!-- %-5p priority (level) -->
		<!-- %M method name, warning: Slow! -->
		<!-- %L line number, warning: Slow! -->
		<!-- %c category %C qualified class name. What is the difference? None? -->
		<!-- %m - log message %n line separator -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%M(%L) - %m%n" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
